@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

 body{
     background-color: #302828;
     font-family: 'Roboto', sans-serif;
 }
 .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    width: 34px;
    height: 34px;
    fill: #fff;
}
.highlightsSection h5 , .whatsGood h5 , .recommended h5 {
    color: #5e5e5e;
    display: inline;
    font-size: 18px;
    font-weight: bolder;
}
.highlightsSection i, .whatsGood i, .recommended i{
    color: #5e5e5e;
}

.highlightsSection div, .whatsGood  div, .recommended div{
    border-bottom: 1px solid #c5c3c3;
    padding-bottom: 15px;
}

.carousel img {
    max-height: 420px;
    margin: 0 auto;
    object-fit: cover;
}

.carousel .carousel-indicators {
    position: absolute;
    bottom: -12%;
}

.carousel .carousel-indicators li {
  background-color: #c5c3c3;
}

.carousel .carousel-indicators li.active {
  background-color: purple;
}

.btn-success {
    background: rgb(116,172,22);
    border: none;
    border-radius: 2px;
    box-shadow: 1px -1px 1px #5e5e5e;
    padding: 7px 30px;
    font-weight: 700;
    font-size: 1.1rem;
}

.btn-primary {
    background-color: rgb(37, 37, 182);
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    font-size: 0.7rem;
}

.btn-primary + i {
    color: #5e5e5e;
    font-size: 0.7rem;
}
.soonButton{
    position: absolute;
    left: 5%;
    right:80%;
    top: 81%;

}

 .addToCart {
    position: absolute;
    right: 5%;
    left: 65%;
    top: 81%;
    font-weight: 700;
}
  .addToCart span {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
}
